@font-face {
  font-family: NotoMono;
  src: url(../fonts/NotoMono-Regular.ttf);
}

html, body {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
}

body {
  color: rgb(54, 50, 50);
  font-family: NotoMono;
  line-height: 1.5em;
  text-align: center;
}

a {
  color: #e75f04ee;
}

nav {
  background-color: #e75f04ee;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;

  a {
    color: rgb(54, 50, 50);
    text-decoration: none;
    margin: 0 10px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: NotoMono;
    font-size: 16px;
    margin-top: 7px;
    padding: 0;

    &:focus {
      outline: 0;
    }
  }

  svg {
    color: rgb(54, 50, 50);
  }
}

main {
  min-height: 100%;
}

#content {
  min-height: calc(100vh - 120px);
}

header, section {
  padding: 50px 30px;
}

article {
  text-align: justify;
}

.half-block {
  display: inline-block;
  vertical-align: middle;
  margin: 0 24px
}

.profile-image {
  min-height: 260px;
  min-width: 260px;
  background: url("../images/ramirezalex-white.png") no-repeat center;
  background-size: cover;
  display: inline-block;
  border-radius: 50%;
}

.profile-image:hover {
  background: url("../images/ramirezalex-color.jpg") no-repeat center;
  background-size: cover;
  filter: grayscale(65%);
}

.dark-mode .profile-image {
  filter: invert(1);
}

.dark-mode .profile-image:hover {
  filter: invert(0) grayscale(65%);
}

.dark-mode #content {
  background-color: rgb(12, 16, 32);
  color: rgb(255, 255, 255);
}

.dark-mode nav button, .dark-mode nav a {
  color: rgb(255, 255, 255);
}

.dark-mode nav svg {
  color: rgb(255, 255, 255);
}

picture {
  display: flex;
  align-items: center;
}

#bio .profile-biok-image, #bio p {
  vertical-align: top;
}

#bio .profile-biok-image {
  height: 50px;
  width: 50px;
  background-size: cover;
  display: inline-block;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}

#bio p {
  width: 85%;
  display: inline-block;
  text-align: justify;
}

.dark-mode .profile-biok-image {
  filter: invert(1);
}

h1 {
  font-size: 48px;
  color: #4b84ee;
  line-height: 2rem;
}

h2 {
  font-size: 36px;
  line-height: 2rem;
}

#info {
  font-size: 24px;
  line-height: 48px;
}

#info, .blog-article {
  border-top: solid 1px #f3d299;
  border-bottom: solid 1px #f3d299;
}

.blog-article img {
  max-width: 100%;
  height: auto;
}

#social-media ul {
  list-style: none;
}

#social-media ul li {
  display: inline-block
}

#social-media ul li .fab {
  font-size: 64px;
  color: #4b84ee;
  margin: 0 15px;
}

footer {
  bottom: 0px;
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 20px;
}

.page-blog-index {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 50px;
  list-style: none;
  justify-content: center;
  text-decoration: none;

  li {
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 20px;
    width: 460px;
    height: 430px;
    border: 1px solid #e75f04ee;
    border-radius: 10px;

    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }

    h2 {
      font-size: 20px;
      line-height: 1.4em;
      color: #e75f04ee;
      padding: 0 15px;
    }

    p {
      font-size: 1em;
      line-height: 1.4em;
      text-align: justify;
      padding: 0 15px;
    }

    img {
      max-width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.page-blog section {
  padding: 20px 30px;
}

.page-blog .blog-headings {
  padding-top: 40px;
}

.page-blog nav {
  padding: 10px 0px;
}

.page-blog nav ul {
  margin-right: 1.45rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0 30px;
}

.page-blog nav a {
  color: black;
}

.dark-mode .page-blog nav a {
  color: white;
}
